body {
    background: #f4f4f9;
    line-height: 1.6;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;

}
.page {
  animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0git);
    opacity: 1;
  }
}


header {
    text-align: center;
    background-color: rgb(82, 82, 236);
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 18px 0;
} 
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}
nav a {
    text-decoration: none;
    color: rgb(82, 82, 236);
    margin: 0 12px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    border-radius: 4px;
}
nav a:hover {
    background-color: rgb(82, 82, 236);
    color: white;

}
.container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0px;
    flex-wrap: wrap;
    margin: 10px;
}
.card {
    width: 250px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn {
    display: inline-block;
    background: #4f46e5;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background: #3730a3;
}
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #e0e0e0;
    color: #555;
    margin-top: 75px;
    font-size: 14px;
    font-weight: bold;
}


    